<!DOCTYPE html>
<html>

<head>
    <title>上传 Excel 文件</title>
</head>

<body>
    <h1>上传成功Excel</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="subjects">选项:</label>
        <select id="subjects" name="subjects">
            <option value="yuwen">语文</option>
            <option value="shuxue">数学</option>
            <option value="yingyu">英语</option>
            <option value="others">其它</option>
        </select>
        <input type="file" name="excelFile" accept=".xlsx, .xls" required />
        <button type="submit">上传</button>
    </form>
</body>

</html>